name: Generate Directory Listings

on:
  push:
    branches:
      - main # Change this to your publishing branch if it's not 'main'

jobs:
  pages-directory-listing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Generate Directory Listings
        # This action creates an index.html file in every folder
        # that lists the files/subdirectories within it.
        uses: jayanta525/github-pages-directory-listing@v4.0.0
        with:
          FOLDER: . # Generate listings starting from the root of the repo

      - name: Deploy to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
