name: Generate Directory Listings

on:
  push:
    branches:
      - main # Your primary branch

permissions: # Permissions Fix
  contents: read
  pages: write
  id-token: write

jobs:
  pages-directory-listing:
    runs-on: ubuntu-latest
    
    environment: # <-- ENVIRONMENT FIX
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Generate Directory Listings
        uses: jayanta525/github-pages-directory-listing@v4.0.0
        with:
          FOLDER: .
          
      - name: Deploy to GitHub Pages (Artifact Upload)
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
